body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  background-image: url("about_image.jpeg");
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 50px;
  text-align: center;
  color: black;
  
  
}

.about-section h1{
	font-family:Garamond, serif;
	font-size:50px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-style:italic;
	line-height:20px;
	color: powderblue;
	padding:20px;
	left: 2px;
}


.about-section b{
	font-family:Garamond, serif;
	font-size:30px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-style:italic;
	line-height:20px;
	color:white;
	padding:20px;
	left: 2px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
